<!-- submit to /login -->
<div align="center" style="margin-top: 50px;">
    <form action="/login" method="post">
        <input type="text" id="username" placeholder="User Name" name="username"><br><br>
        <button type="submit">Submit</button>
    </form>
</div>