<!-- submit to /login -->
<div align="center" style="margin-top: 50px;">
    <form action="/login" method="post">
        User Name <br>
        <input type="text" id="username" name="username"><br><br>
        <button type="submit">Submit</button>
    </form>
</div>