<!-- submit to /login -->
<div align="center" style="margin-top: 50px;">
    <form action="/sync" method="post">
        End Point <br>
        <input type="text" id="endpoint" name="endpoint"><br><br>
        <button type="submit">Submit</button>
    </form>
</div>