<!-- submit to /login -->
<div align="center" style="margin-top: 50px;">
    <form action="/sync" method="post">
        <input type="text" id="endpoint" placeholder="End Point" name="endpoint"><br><br>
        <button type="submit">Submit</button>
    </form>
</div>