* {
    maring: 0;
    padding: 0;
}

.hide {
    display: none;
}

body {
    font-size: 100%;
    margin: 5px;
    background: #666;
    color: #fff;
}

/******************************
 *      C O N T R O L S       *
 ******************************/

.syncDialog{
    position:fixed;
    top:0;
    left:0;
    z-index: 101;
    width:100%;
    height:100%;
    background:grey;
    display:none
}

#controls {
    width: 100%;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#controls img {
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0);
}

#controls img:hover, #controls img:focus {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    position:relative;
}

/************************
 *      C A R D S       *
 ************************/
ul, li {
    list-style: none;
}

ul {
    overflow: hidden;
    padding: 5px;
}

ul li {
    margin: 5px;
    float: left;
    position: relative;
}

ul li div {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 150px;
    width: 120px;
    padding: 5px;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px  rgba(33, 33, 33, .7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
    border-style: solid;
}

ul li div img {
    padding: 1px 3px;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

ul li textarea {
    font-family: 'Chewy', arial, sans-serif;
    background: rgba(0, 0, 0, 0); /* transparent background */
    resize: none;
    padding: 3px;
    border-style: none;
}

.card-title {
    font-size: 120%;
    font-weight: bold;
    height: 30px;
    width: 70%;
    border-style: hidden;
}

.card-content {
    font-size:120%;
    height: 100px;
    width: 95%;
}

ul li:nth-child(even) div {
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}

ul li:nth-child(3n) div {
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}

ul li:nth-child(5n) div {
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}

ul li div:hover, ul li div:focus {
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}

/* define 3 different colors for the notes */
ul li div.color1 {
    background: #ffc;
}
ul li div.color2 {
    background: #cfc;
}
ul li div.color3 {
    background: #ccf;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
